{% extends 'base.html' %} {% block content %}
<div class="w-1/2 m-auto my-4">
  <h1 class="text-center text-3xl font-semibold">Login account</h1>
  <form class="max-w-sm mx-auto" method="post">
    {% csrf_token %} 
    {% for hidden_field in form.hidden_fields %} 
    {{hidden_field.errors }} {{ hidden_field }} 
    {% endfor %}
    <div></div>
    {% for field in form.visible_fields  %}
    <label
      for="{{field.id_for_label}}"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >{{field.label}}</label
    >
    {{field}} {% if field.errors %} {% for error in field.errors%}
    <p class="mt-2 text-sm text-red-600 dark:text-green-500">{{error}}</p>
    {% endfor %} {% endif %} {% endfor %}
    {% if form.non_field_errors %}
      <div class="">
          {% for error in form.non_field_errors %}
              <p class="mt-2 text-sm text-red-600 dark:text-green-500">{{ error }}</p>
          {% endfor %}
      </div>
    {% endif %}
    <input
      type="submit"
      class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      value="Login"
    />
  </form>
</div>
{% endblock content %}
