{% extends 'base.html' %} {% block content %}
<div class="w-1/2 m-auto py-4">
  <a
    href="#"
    class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
    Profile
    </h5>
    <h5
      class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
    >
    Balance: {{profile.balance}}
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
        Username: {{user.username}}
      </p>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Name: {{user.first_name}} {{user.last_name}}
    </p>
  </a>
 
</div>
{% endblock content %}
